.container {
  width: 90%;
  height: auto;
  margin: 0 auto;
}
.container :after {
  content: "";
  display: block;
}
.container :after {
  clear: both;
}
.container > .row {
  width: 100%;
  height: 100%;
  overflow: hidden;
  margin: 0 auto;
}
.container-fluid {
  width: 100%;
  height: auto;
  margin: 0 auto;
}
.container-fluid :after {
  content: "";
  display: block;
}
.container-fluid :after {
  clear: both;
}
.container-fluid > .row {
  width: 100%;
  height: 100%;
  overflow: hidden;
  margin: 0 auto;
}
.container > .row > .col-s-1 {
  float: left;
  width: 5%;
}
.container-fluid > .row > .col-s-1 {
  float: left;
  width: 5%;
}
.container > .row > .col-s-offsetl-1 {
  margin-left: 5%;
}
.container > .row > .col-s-offsetr-1 {
  margin-left: -5%;
}
.container-fluid > .row > .col-s-offsetl-1 {
  margin-left: 5%;
}
.container-fluid > .row > .col-s-offsetr-1 {
  margin-left: -5%;
}
.container > .row > .col-s-push-1 {
  position: relative;
  right: 5%;
}
.container > .row > .col-s-pull-1 {
  position: relative;
  left: 5%;
}
.container-fluid > .row > .col-s-push-1 {
  position: relative;
  right: 5%;
}
.container-fluid > .row > .col-s-pull-1 {
  position: relative;
  left: 5%;
}
.container > .row > .col-s-2 {
  float: left;
  width: 10%;
}
.container-fluid > .row > .col-s-2 {
  float: left;
  width: 10%;
}
.container > .row > .col-s-offsetl-2 {
  margin-left: 10%;
}
.container > .row > .col-s-offsetr-2 {
  margin-left: -10%;
}
.container-fluid > .row > .col-s-offsetl-2 {
  margin-left: 10%;
}
.container-fluid > .row > .col-s-offsetr-2 {
  margin-left: -10%;
}
.container > .row > .col-s-push-2 {
  position: relative;
  right: 10%;
}
.container > .row > .col-s-pull-2 {
  position: relative;
  left: 10%;
}
.container-fluid > .row > .col-s-push-2 {
  position: relative;
  right: 10%;
}
.container-fluid > .row > .col-s-pull-2 {
  position: relative;
  left: 10%;
}
.container > .row > .col-s-3 {
  float: left;
  width: 15%;
}
.container-fluid > .row > .col-s-3 {
  float: left;
  width: 15%;
}
.container > .row > .col-s-offsetl-3 {
  margin-left: 15%;
}
.container > .row > .col-s-offsetr-3 {
  margin-left: -15%;
}
.container-fluid > .row > .col-s-offsetl-3 {
  margin-left: 15%;
}
.container-fluid > .row > .col-s-offsetr-3 {
  margin-left: -15%;
}
.container > .row > .col-s-push-3 {
  position: relative;
  right: 15%;
}
.container > .row > .col-s-pull-3 {
  position: relative;
  left: 15%;
}
.container-fluid > .row > .col-s-push-3 {
  position: relative;
  right: 15%;
}
.container-fluid > .row > .col-s-pull-3 {
  position: relative;
  left: 15%;
}
.container > .row > .col-s-4 {
  float: left;
  width: 20%;
}
.container-fluid > .row > .col-s-4 {
  float: left;
  width: 20%;
}
.container > .row > .col-s-offsetl-4 {
  margin-left: 20%;
}
.container > .row > .col-s-offsetr-4 {
  margin-left: -20%;
}
.container-fluid > .row > .col-s-offsetl-4 {
  margin-left: 20%;
}
.container-fluid > .row > .col-s-offsetr-4 {
  margin-left: -20%;
}
.container > .row > .col-s-push-4 {
  position: relative;
  right: 20%;
}
.container > .row > .col-s-pull-4 {
  position: relative;
  left: 20%;
}
.container-fluid > .row > .col-s-push-4 {
  position: relative;
  right: 20%;
}
.container-fluid > .row > .col-s-pull-4 {
  position: relative;
  left: 20%;
}
.container > .row > .col-s-5 {
  float: left;
  width: 25%;
}
.container-fluid > .row > .col-s-5 {
  float: left;
  width: 25%;
}
.container > .row > .col-s-offsetl-5 {
  margin-left: 25%;
}
.container > .row > .col-s-offsetr-5 {
  margin-left: -25%;
}
.container-fluid > .row > .col-s-offsetl-5 {
  margin-left: 25%;
}
.container-fluid > .row > .col-s-offsetr-5 {
  margin-left: -25%;
}
.container > .row > .col-s-push-5 {
  position: relative;
  right: 25%;
}
.container > .row > .col-s-pull-5 {
  position: relative;
  left: 25%;
}
.container-fluid > .row > .col-s-push-5 {
  position: relative;
  right: 25%;
}
.container-fluid > .row > .col-s-pull-5 {
  position: relative;
  left: 25%;
}
.container > .row > .col-s-6 {
  float: left;
  width: 30%;
}
.container-fluid > .row > .col-s-6 {
  float: left;
  width: 30%;
}
.container > .row > .col-s-offsetl-6 {
  margin-left: 30%;
}
.container > .row > .col-s-offsetr-6 {
  margin-left: -30%;
}
.container-fluid > .row > .col-s-offsetl-6 {
  margin-left: 30%;
}
.container-fluid > .row > .col-s-offsetr-6 {
  margin-left: -30%;
}
.container > .row > .col-s-push-6 {
  position: relative;
  right: 30%;
}
.container > .row > .col-s-pull-6 {
  position: relative;
  left: 30%;
}
.container-fluid > .row > .col-s-push-6 {
  position: relative;
  right: 30%;
}
.container-fluid > .row > .col-s-pull-6 {
  position: relative;
  left: 30%;
}
.container > .row > .col-s-7 {
  float: left;
  width: 35%;
}
.container-fluid > .row > .col-s-7 {
  float: left;
  width: 35%;
}
.container > .row > .col-s-offsetl-7 {
  margin-left: 35%;
}
.container > .row > .col-s-offsetr-7 {
  margin-left: -35%;
}
.container-fluid > .row > .col-s-offsetl-7 {
  margin-left: 35%;
}
.container-fluid > .row > .col-s-offsetr-7 {
  margin-left: -35%;
}
.container > .row > .col-s-push-7 {
  position: relative;
  right: 35%;
}
.container > .row > .col-s-pull-7 {
  position: relative;
  left: 35%;
}
.container-fluid > .row > .col-s-push-7 {
  position: relative;
  right: 35%;
}
.container-fluid > .row > .col-s-pull-7 {
  position: relative;
  left: 35%;
}
.container > .row > .col-s-8 {
  float: left;
  width: 40%;
}
.container-fluid > .row > .col-s-8 {
  float: left;
  width: 40%;
}
.container > .row > .col-s-offsetl-8 {
  margin-left: 40%;
}
.container > .row > .col-s-offsetr-8 {
  margin-left: -40%;
}
.container-fluid > .row > .col-s-offsetl-8 {
  margin-left: 40%;
}
.container-fluid > .row > .col-s-offsetr-8 {
  margin-left: -40%;
}
.container > .row > .col-s-push-8 {
  position: relative;
  right: 40%;
}
.container > .row > .col-s-pull-8 {
  position: relative;
  left: 40%;
}
.container-fluid > .row > .col-s-push-8 {
  position: relative;
  right: 40%;
}
.container-fluid > .row > .col-s-pull-8 {
  position: relative;
  left: 40%;
}
.container > .row > .col-s-9 {
  float: left;
  width: 45%;
}
.container-fluid > .row > .col-s-9 {
  float: left;
  width: 45%;
}
.container > .row > .col-s-offsetl-9 {
  margin-left: 45%;
}
.container > .row > .col-s-offsetr-9 {
  margin-left: -45%;
}
.container-fluid > .row > .col-s-offsetl-9 {
  margin-left: 45%;
}
.container-fluid > .row > .col-s-offsetr-9 {
  margin-left: -45%;
}
.container > .row > .col-s-push-9 {
  position: relative;
  right: 45%;
}
.container > .row > .col-s-pull-9 {
  position: relative;
  left: 45%;
}
.container-fluid > .row > .col-s-push-9 {
  position: relative;
  right: 45%;
}
.container-fluid > .row > .col-s-pull-9 {
  position: relative;
  left: 45%;
}
.container > .row > .col-s-10 {
  float: left;
  width: 50%;
}
.container-fluid > .row > .col-s-10 {
  float: left;
  width: 50%;
}
.container > .row > .col-s-offsetl-10 {
  margin-left: 50%;
}
.container > .row > .col-s-offsetr-10 {
  margin-left: -50%;
}
.container-fluid > .row > .col-s-offsetl-10 {
  margin-left: 50%;
}
.container-fluid > .row > .col-s-offsetr-10 {
  margin-left: -50%;
}
.container > .row > .col-s-push-10 {
  position: relative;
  right: 50%;
}
.container > .row > .col-s-pull-10 {
  position: relative;
  left: 50%;
}
.container-fluid > .row > .col-s-push-10 {
  position: relative;
  right: 50%;
}
.container-fluid > .row > .col-s-pull-10 {
  position: relative;
  left: 50%;
}
.container > .row > .col-s-11 {
  float: left;
  width: 55%;
}
.container-fluid > .row > .col-s-11 {
  float: left;
  width: 55%;
}
.container > .row > .col-s-offsetl-11 {
  margin-left: 55%;
}
.container > .row > .col-s-offsetr-11 {
  margin-left: -55%;
}
.container-fluid > .row > .col-s-offsetl-11 {
  margin-left: 55%;
}
.container-fluid > .row > .col-s-offsetr-11 {
  margin-left: -55%;
}
.container > .row > .col-s-push-11 {
  position: relative;
  right: 55%;
}
.container > .row > .col-s-pull-11 {
  position: relative;
  left: 55%;
}
.container-fluid > .row > .col-s-push-11 {
  position: relative;
  right: 55%;
}
.container-fluid > .row > .col-s-pull-11 {
  position: relative;
  left: 55%;
}
.container > .row > .col-s-12 {
  float: left;
  width: 60%;
}
.container-fluid > .row > .col-s-12 {
  float: left;
  width: 60%;
}
.container > .row > .col-s-offsetl-12 {
  margin-left: 60%;
}
.container > .row > .col-s-offsetr-12 {
  margin-left: -60%;
}
.container-fluid > .row > .col-s-offsetl-12 {
  margin-left: 60%;
}
.container-fluid > .row > .col-s-offsetr-12 {
  margin-left: -60%;
}
.container > .row > .col-s-push-12 {
  position: relative;
  right: 60%;
}
.container > .row > .col-s-pull-12 {
  position: relative;
  left: 60%;
}
.container-fluid > .row > .col-s-push-12 {
  position: relative;
  right: 60%;
}
.container-fluid > .row > .col-s-pull-12 {
  position: relative;
  left: 60%;
}
.container > .row > .col-s-13 {
  float: left;
  width: 65%;
}
.container-fluid > .row > .col-s-13 {
  float: left;
  width: 65%;
}
.container > .row > .col-s-offsetl-13 {
  margin-left: 65%;
}
.container > .row > .col-s-offsetr-13 {
  margin-left: -65%;
}
.container-fluid > .row > .col-s-offsetl-13 {
  margin-left: 65%;
}
.container-fluid > .row > .col-s-offsetr-13 {
  margin-left: -65%;
}
.container > .row > .col-s-push-13 {
  position: relative;
  right: 65%;
}
.container > .row > .col-s-pull-13 {
  position: relative;
  left: 65%;
}
.container-fluid > .row > .col-s-push-13 {
  position: relative;
  right: 65%;
}
.container-fluid > .row > .col-s-pull-13 {
  position: relative;
  left: 65%;
}
.container > .row > .col-s-14 {
  float: left;
  width: 70%;
}
.container-fluid > .row > .col-s-14 {
  float: left;
  width: 70%;
}
.container > .row > .col-s-offsetl-14 {
  margin-left: 70%;
}
.container > .row > .col-s-offsetr-14 {
  margin-left: -70%;
}
.container-fluid > .row > .col-s-offsetl-14 {
  margin-left: 70%;
}
.container-fluid > .row > .col-s-offsetr-14 {
  margin-left: -70%;
}
.container > .row > .col-s-push-14 {
  position: relative;
  right: 70%;
}
.container > .row > .col-s-pull-14 {
  position: relative;
  left: 70%;
}
.container-fluid > .row > .col-s-push-14 {
  position: relative;
  right: 70%;
}
.container-fluid > .row > .col-s-pull-14 {
  position: relative;
  left: 70%;
}
.container > .row > .col-s-15 {
  float: left;
  width: 75%;
}
.container-fluid > .row > .col-s-15 {
  float: left;
  width: 75%;
}
.container > .row > .col-s-offsetl-15 {
  margin-left: 75%;
}
.container > .row > .col-s-offsetr-15 {
  margin-left: -75%;
}
.container-fluid > .row > .col-s-offsetl-15 {
  margin-left: 75%;
}
.container-fluid > .row > .col-s-offsetr-15 {
  margin-left: -75%;
}
.container > .row > .col-s-push-15 {
  position: relative;
  right: 75%;
}
.container > .row > .col-s-pull-15 {
  position: relative;
  left: 75%;
}
.container-fluid > .row > .col-s-push-15 {
  position: relative;
  right: 75%;
}
.container-fluid > .row > .col-s-pull-15 {
  position: relative;
  left: 75%;
}
.container > .row > .col-s-16 {
  float: left;
  width: 80%;
}
.container-fluid > .row > .col-s-16 {
  float: left;
  width: 80%;
}
.container > .row > .col-s-offsetl-16 {
  margin-left: 80%;
}
.container > .row > .col-s-offsetr-16 {
  margin-left: -80%;
}
.container-fluid > .row > .col-s-offsetl-16 {
  margin-left: 80%;
}
.container-fluid > .row > .col-s-offsetr-16 {
  margin-left: -80%;
}
.container > .row > .col-s-push-16 {
  position: relative;
  right: 80%;
}
.container > .row > .col-s-pull-16 {
  position: relative;
  left: 80%;
}
.container-fluid > .row > .col-s-push-16 {
  position: relative;
  right: 80%;
}
.container-fluid > .row > .col-s-pull-16 {
  position: relative;
  left: 80%;
}
.container > .row > .col-s-17 {
  float: left;
  width: 85%;
}
.container-fluid > .row > .col-s-17 {
  float: left;
  width: 85%;
}
.container > .row > .col-s-offsetl-17 {
  margin-left: 85%;
}
.container > .row > .col-s-offsetr-17 {
  margin-left: -85%;
}
.container-fluid > .row > .col-s-offsetl-17 {
  margin-left: 85%;
}
.container-fluid > .row > .col-s-offsetr-17 {
  margin-left: -85%;
}
.container > .row > .col-s-push-17 {
  position: relative;
  right: 85%;
}
.container > .row > .col-s-pull-17 {
  position: relative;
  left: 85%;
}
.container-fluid > .row > .col-s-push-17 {
  position: relative;
  right: 85%;
}
.container-fluid > .row > .col-s-pull-17 {
  position: relative;
  left: 85%;
}
.container > .row > .col-s-18 {
  float: left;
  width: 90%;
}
.container-fluid > .row > .col-s-18 {
  float: left;
  width: 90%;
}
.container > .row > .col-s-offsetl-18 {
  margin-left: 90%;
}
.container > .row > .col-s-offsetr-18 {
  margin-left: -90%;
}
.container-fluid > .row > .col-s-offsetl-18 {
  margin-left: 90%;
}
.container-fluid > .row > .col-s-offsetr-18 {
  margin-left: -90%;
}
.container > .row > .col-s-push-18 {
  position: relative;
  right: 90%;
}
.container > .row > .col-s-pull-18 {
  position: relative;
  left: 90%;
}
.container-fluid > .row > .col-s-push-18 {
  position: relative;
  right: 90%;
}
.container-fluid > .row > .col-s-pull-18 {
  position: relative;
  left: 90%;
}
.container > .row > .col-s-19 {
  float: left;
  width: 95%;
}
.container-fluid > .row > .col-s-19 {
  float: left;
  width: 95%;
}
.container > .row > .col-s-offsetl-19 {
  margin-left: 95%;
}
.container > .row > .col-s-offsetr-19 {
  margin-left: -95%;
}
.container-fluid > .row > .col-s-offsetl-19 {
  margin-left: 95%;
}
.container-fluid > .row > .col-s-offsetr-19 {
  margin-left: -95%;
}
.container > .row > .col-s-push-19 {
  position: relative;
  right: 95%;
}
.container > .row > .col-s-pull-19 {
  position: relative;
  left: 95%;
}
.container-fluid > .row > .col-s-push-19 {
  position: relative;
  right: 95%;
}
.container-fluid > .row > .col-s-pull-19 {
  position: relative;
  left: 95%;
}
.container > .row > .col-s-20 {
  float: left;
  width: 100%;
}
.container-fluid > .row > .col-s-20 {
  float: left;
  width: 100%;
}
.container > .row > .col-s-offsetl-20 {
  margin-left: 100%;
}
.container > .row > .col-s-offsetr-20 {
  margin-left: -100%;
}
.container-fluid > .row > .col-s-offsetl-20 {
  margin-left: 100%;
}
.container-fluid > .row > .col-s-offsetr-20 {
  margin-left: -100%;
}
.container > .row > .col-s-push-20 {
  position: relative;
  right: 100%;
}
.container > .row > .col-s-pull-20 {
  position: relative;
  left: 100%;
}
.container-fluid > .row > .col-s-push-20 {
  position: relative;
  right: 100%;
}
.container-fluid > .row > .col-s-pull-20 {
  position: relative;
  left: 100%;
}
.container > .row > .col-s-hid {
  display: none;
}
.container-fluid > .row > .col-s-hid {
  display: none;
}
@media screen and (min-width: 500px) {
  .container {
    width: 500px;
  }
  .container > .row > .col-m-1 {
    float: left;
    width: 5%;
  }
  .container-fluid > .row > .col-m-1 {
    float: left;
    width: 5%;
  }
  .container > .row > .col-m-offsetl-1 {
    margin-left: 5%;
  }
  .container > .row > .col-m-offsetr-1 {
    margin-left: -5%;
  }
  .container-fluid > .row > .col-m-offsetl-1 {
    margin-left: 5%;
  }
  .container-fluid > .row > .col-m-offsetr-1 {
    margin-left: -5%;
  }
  .container > .row > .col-m-push-1 {
    position: relative;
    right: 5%;
  }
  .container > .row > .col-m-pull-1 {
    position: relative;
    left: 5%;
  }
  .container-fluid > .row > .col-m-push-1 {
    position: relative;
    right: 5%;
  }
  .container-fluid > .row > .col-m-pull-1 {
    position: relative;
    left: 5%;
  }
  .container > .row > .col-m-2 {
    float: left;
    width: 10%;
  }
  .container-fluid > .row > .col-m-2 {
    float: left;
    width: 10%;
  }
  .container > .row > .col-m-offsetl-2 {
    margin-left: 10%;
  }
  .container > .row > .col-m-offsetr-2 {
    margin-left: -10%;
  }
  .container-fluid > .row > .col-m-offsetl-2 {
    margin-left: 10%;
  }
  .container-fluid > .row > .col-m-offsetr-2 {
    margin-left: -10%;
  }
  .container > .row > .col-m-push-2 {
    position: relative;
    right: 10%;
  }
  .container > .row > .col-m-pull-2 {
    position: relative;
    left: 10%;
  }
  .container-fluid > .row > .col-m-push-2 {
    position: relative;
    right: 10%;
  }
  .container-fluid > .row > .col-m-pull-2 {
    position: relative;
    left: 10%;
  }
  .container > .row > .col-m-3 {
    float: left;
    width: 15%;
  }
  .container-fluid > .row > .col-m-3 {
    float: left;
    width: 15%;
  }
  .container > .row > .col-m-offsetl-3 {
    margin-left: 15%;
  }
  .container > .row > .col-m-offsetr-3 {
    margin-left: -15%;
  }
  .container-fluid > .row > .col-m-offsetl-3 {
    margin-left: 15%;
  }
  .container-fluid > .row > .col-m-offsetr-3 {
    margin-left: -15%;
  }
  .container > .row > .col-m-push-3 {
    position: relative;
    right: 15%;
  }
  .container > .row > .col-m-pull-3 {
    position: relative;
    left: 15%;
  }
  .container-fluid > .row > .col-m-push-3 {
    position: relative;
    right: 15%;
  }
  .container-fluid > .row > .col-m-pull-3 {
    position: relative;
    left: 15%;
  }
  .container > .row > .col-m-4 {
    float: left;
    width: 20%;
  }
  .container-fluid > .row > .col-m-4 {
    float: left;
    width: 20%;
  }
  .container > .row > .col-m-offsetl-4 {
    margin-left: 20%;
  }
  .container > .row > .col-m-offsetr-4 {
    margin-left: -20%;
  }
  .container-fluid > .row > .col-m-offsetl-4 {
    margin-left: 20%;
  }
  .container-fluid > .row > .col-m-offsetr-4 {
    margin-left: -20%;
  }
  .container > .row > .col-m-push-4 {
    position: relative;
    right: 20%;
  }
  .container > .row > .col-m-pull-4 {
    position: relative;
    left: 20%;
  }
  .container-fluid > .row > .col-m-push-4 {
    position: relative;
    right: 20%;
  }
  .container-fluid > .row > .col-m-pull-4 {
    position: relative;
    left: 20%;
  }
  .container > .row > .col-m-5 {
    float: left;
    width: 25%;
  }
  .container-fluid > .row > .col-m-5 {
    float: left;
    width: 25%;
  }
  .container > .row > .col-m-offsetl-5 {
    margin-left: 25%;
  }
  .container > .row > .col-m-offsetr-5 {
    margin-left: -25%;
  }
  .container-fluid > .row > .col-m-offsetl-5 {
    margin-left: 25%;
  }
  .container-fluid > .row > .col-m-offsetr-5 {
    margin-left: -25%;
  }
  .container > .row > .col-m-push-5 {
    position: relative;
    right: 25%;
  }
  .container > .row > .col-m-pull-5 {
    position: relative;
    left: 25%;
  }
  .container-fluid > .row > .col-m-push-5 {
    position: relative;
    right: 25%;
  }
  .container-fluid > .row > .col-m-pull-5 {
    position: relative;
    left: 25%;
  }
  .container > .row > .col-m-6 {
    float: left;
    width: 30%;
  }
  .container-fluid > .row > .col-m-6 {
    float: left;
    width: 30%;
  }
  .container > .row > .col-m-offsetl-6 {
    margin-left: 30%;
  }
  .container > .row > .col-m-offsetr-6 {
    margin-left: -30%;
  }
  .container-fluid > .row > .col-m-offsetl-6 {
    margin-left: 30%;
  }
  .container-fluid > .row > .col-m-offsetr-6 {
    margin-left: -30%;
  }
  .container > .row > .col-m-push-6 {
    position: relative;
    right: 30%;
  }
  .container > .row > .col-m-pull-6 {
    position: relative;
    left: 30%;
  }
  .container-fluid > .row > .col-m-push-6 {
    position: relative;
    right: 30%;
  }
  .container-fluid > .row > .col-m-pull-6 {
    position: relative;
    left: 30%;
  }
  .container > .row > .col-m-7 {
    float: left;
    width: 35%;
  }
  .container-fluid > .row > .col-m-7 {
    float: left;
    width: 35%;
  }
  .container > .row > .col-m-offsetl-7 {
    margin-left: 35%;
  }
  .container > .row > .col-m-offsetr-7 {
    margin-left: -35%;
  }
  .container-fluid > .row > .col-m-offsetl-7 {
    margin-left: 35%;
  }
  .container-fluid > .row > .col-m-offsetr-7 {
    margin-left: -35%;
  }
  .container > .row > .col-m-push-7 {
    position: relative;
    right: 35%;
  }
  .container > .row > .col-m-pull-7 {
    position: relative;
    left: 35%;
  }
  .container-fluid > .row > .col-m-push-7 {
    position: relative;
    right: 35%;
  }
  .container-fluid > .row > .col-m-pull-7 {
    position: relative;
    left: 35%;
  }
  .container > .row > .col-m-8 {
    float: left;
    width: 40%;
  }
  .container-fluid > .row > .col-m-8 {
    float: left;
    width: 40%;
  }
  .container > .row > .col-m-offsetl-8 {
    margin-left: 40%;
  }
  .container > .row > .col-m-offsetr-8 {
    margin-left: -40%;
  }
  .container-fluid > .row > .col-m-offsetl-8 {
    margin-left: 40%;
  }
  .container-fluid > .row > .col-m-offsetr-8 {
    margin-left: -40%;
  }
  .container > .row > .col-m-push-8 {
    position: relative;
    right: 40%;
  }
  .container > .row > .col-m-pull-8 {
    position: relative;
    left: 40%;
  }
  .container-fluid > .row > .col-m-push-8 {
    position: relative;
    right: 40%;
  }
  .container-fluid > .row > .col-m-pull-8 {
    position: relative;
    left: 40%;
  }
  .container > .row > .col-m-9 {
    float: left;
    width: 45%;
  }
  .container-fluid > .row > .col-m-9 {
    float: left;
    width: 45%;
  }
  .container > .row > .col-m-offsetl-9 {
    margin-left: 45%;
  }
  .container > .row > .col-m-offsetr-9 {
    margin-left: -45%;
  }
  .container-fluid > .row > .col-m-offsetl-9 {
    margin-left: 45%;
  }
  .container-fluid > .row > .col-m-offsetr-9 {
    margin-left: -45%;
  }
  .container > .row > .col-m-push-9 {
    position: relative;
    right: 45%;
  }
  .container > .row > .col-m-pull-9 {
    position: relative;
    left: 45%;
  }
  .container-fluid > .row > .col-m-push-9 {
    position: relative;
    right: 45%;
  }
  .container-fluid > .row > .col-m-pull-9 {
    position: relative;
    left: 45%;
  }
  .container > .row > .col-m-10 {
    float: left;
    width: 50%;
  }
  .container-fluid > .row > .col-m-10 {
    float: left;
    width: 50%;
  }
  .container > .row > .col-m-offsetl-10 {
    margin-left: 50%;
  }
  .container > .row > .col-m-offsetr-10 {
    margin-left: -50%;
  }
  .container-fluid > .row > .col-m-offsetl-10 {
    margin-left: 50%;
  }
  .container-fluid > .row > .col-m-offsetr-10 {
    margin-left: -50%;
  }
  .container > .row > .col-m-push-10 {
    position: relative;
    right: 50%;
  }
  .container > .row > .col-m-pull-10 {
    position: relative;
    left: 50%;
  }
  .container-fluid > .row > .col-m-push-10 {
    position: relative;
    right: 50%;
  }
  .container-fluid > .row > .col-m-pull-10 {
    position: relative;
    left: 50%;
  }
  .container > .row > .col-m-11 {
    float: left;
    width: 55%;
  }
  .container-fluid > .row > .col-m-11 {
    float: left;
    width: 55%;
  }
  .container > .row > .col-m-offsetl-11 {
    margin-left: 55%;
  }
  .container > .row > .col-m-offsetr-11 {
    margin-left: -55%;
  }
  .container-fluid > .row > .col-m-offsetl-11 {
    margin-left: 55%;
  }
  .container-fluid > .row > .col-m-offsetr-11 {
    margin-left: -55%;
  }
  .container > .row > .col-m-push-11 {
    position: relative;
    right: 55%;
  }
  .container > .row > .col-m-pull-11 {
    position: relative;
    left: 55%;
  }
  .container-fluid > .row > .col-m-push-11 {
    position: relative;
    right: 55%;
  }
  .container-fluid > .row > .col-m-pull-11 {
    position: relative;
    left: 55%;
  }
  .container > .row > .col-m-12 {
    float: left;
    width: 60%;
  }
  .container-fluid > .row > .col-m-12 {
    float: left;
    width: 60%;
  }
  .container > .row > .col-m-offsetl-12 {
    margin-left: 60%;
  }
  .container > .row > .col-m-offsetr-12 {
    margin-left: -60%;
  }
  .container-fluid > .row > .col-m-offsetl-12 {
    margin-left: 60%;
  }
  .container-fluid > .row > .col-m-offsetr-12 {
    margin-left: -60%;
  }
  .container > .row > .col-m-push-12 {
    position: relative;
    right: 60%;
  }
  .container > .row > .col-m-pull-12 {
    position: relative;
    left: 60%;
  }
  .container-fluid > .row > .col-m-push-12 {
    position: relative;
    right: 60%;
  }
  .container-fluid > .row > .col-m-pull-12 {
    position: relative;
    left: 60%;
  }
  .container > .row > .col-m-13 {
    float: left;
    width: 65%;
  }
  .container-fluid > .row > .col-m-13 {
    float: left;
    width: 65%;
  }
  .container > .row > .col-m-offsetl-13 {
    margin-left: 65%;
  }
  .container > .row > .col-m-offsetr-13 {
    margin-left: -65%;
  }
  .container-fluid > .row > .col-m-offsetl-13 {
    margin-left: 65%;
  }
  .container-fluid > .row > .col-m-offsetr-13 {
    margin-left: -65%;
  }
  .container > .row > .col-m-push-13 {
    position: relative;
    right: 65%;
  }
  .container > .row > .col-m-pull-13 {
    position: relative;
    left: 65%;
  }
  .container-fluid > .row > .col-m-push-13 {
    position: relative;
    right: 65%;
  }
  .container-fluid > .row > .col-m-pull-13 {
    position: relative;
    left: 65%;
  }
  .container > .row > .col-m-14 {
    float: left;
    width: 70%;
  }
  .container-fluid > .row > .col-m-14 {
    float: left;
    width: 70%;
  }
  .container > .row > .col-m-offsetl-14 {
    margin-left: 70%;
  }
  .container > .row > .col-m-offsetr-14 {
    margin-left: -70%;
  }
  .container-fluid > .row > .col-m-offsetl-14 {
    margin-left: 70%;
  }
  .container-fluid > .row > .col-m-offsetr-14 {
    margin-left: -70%;
  }
  .container > .row > .col-m-push-14 {
    position: relative;
    right: 70%;
  }
  .container > .row > .col-m-pull-14 {
    position: relative;
    left: 70%;
  }
  .container-fluid > .row > .col-m-push-14 {
    position: relative;
    right: 70%;
  }
  .container-fluid > .row > .col-m-pull-14 {
    position: relative;
    left: 70%;
  }
  .container > .row > .col-m-15 {
    float: left;
    width: 75%;
  }
  .container-fluid > .row > .col-m-15 {
    float: left;
    width: 75%;
  }
  .container > .row > .col-m-offsetl-15 {
    margin-left: 75%;
  }
  .container > .row > .col-m-offsetr-15 {
    margin-left: -75%;
  }
  .container-fluid > .row > .col-m-offsetl-15 {
    margin-left: 75%;
  }
  .container-fluid > .row > .col-m-offsetr-15 {
    margin-left: -75%;
  }
  .container > .row > .col-m-push-15 {
    position: relative;
    right: 75%;
  }
  .container > .row > .col-m-pull-15 {
    position: relative;
    left: 75%;
  }
  .container-fluid > .row > .col-m-push-15 {
    position: relative;
    right: 75%;
  }
  .container-fluid > .row > .col-m-pull-15 {
    position: relative;
    left: 75%;
  }
  .container > .row > .col-m-16 {
    float: left;
    width: 80%;
  }
  .container-fluid > .row > .col-m-16 {
    float: left;
    width: 80%;
  }
  .container > .row > .col-m-offsetl-16 {
    margin-left: 80%;
  }
  .container > .row > .col-m-offsetr-16 {
    margin-left: -80%;
  }
  .container-fluid > .row > .col-m-offsetl-16 {
    margin-left: 80%;
  }
  .container-fluid > .row > .col-m-offsetr-16 {
    margin-left: -80%;
  }
  .container > .row > .col-m-push-16 {
    position: relative;
    right: 80%;
  }
  .container > .row > .col-m-pull-16 {
    position: relative;
    left: 80%;
  }
  .container-fluid > .row > .col-m-push-16 {
    position: relative;
    right: 80%;
  }
  .container-fluid > .row > .col-m-pull-16 {
    position: relative;
    left: 80%;
  }
  .container > .row > .col-m-17 {
    float: left;
    width: 85%;
  }
  .container-fluid > .row > .col-m-17 {
    float: left;
    width: 85%;
  }
  .container > .row > .col-m-offsetl-17 {
    margin-left: 85%;
  }
  .container > .row > .col-m-offsetr-17 {
    margin-left: -85%;
  }
  .container-fluid > .row > .col-m-offsetl-17 {
    margin-left: 85%;
  }
  .container-fluid > .row > .col-m-offsetr-17 {
    margin-left: -85%;
  }
  .container > .row > .col-m-push-17 {
    position: relative;
    right: 85%;
  }
  .container > .row > .col-m-pull-17 {
    position: relative;
    left: 85%;
  }
  .container-fluid > .row > .col-m-push-17 {
    position: relative;
    right: 85%;
  }
  .container-fluid > .row > .col-m-pull-17 {
    position: relative;
    left: 85%;
  }
  .container > .row > .col-m-18 {
    float: left;
    width: 90%;
  }
  .container-fluid > .row > .col-m-18 {
    float: left;
    width: 90%;
  }
  .container > .row > .col-m-offsetl-18 {
    margin-left: 90%;
  }
  .container > .row > .col-m-offsetr-18 {
    margin-left: -90%;
  }
  .container-fluid > .row > .col-m-offsetl-18 {
    margin-left: 90%;
  }
  .container-fluid > .row > .col-m-offsetr-18 {
    margin-left: -90%;
  }
  .container > .row > .col-m-push-18 {
    position: relative;
    right: 90%;
  }
  .container > .row > .col-m-pull-18 {
    position: relative;
    left: 90%;
  }
  .container-fluid > .row > .col-m-push-18 {
    position: relative;
    right: 90%;
  }
  .container-fluid > .row > .col-m-pull-18 {
    position: relative;
    left: 90%;
  }
  .container > .row > .col-m-19 {
    float: left;
    width: 95%;
  }
  .container-fluid > .row > .col-m-19 {
    float: left;
    width: 95%;
  }
  .container > .row > .col-m-offsetl-19 {
    margin-left: 95%;
  }
  .container > .row > .col-m-offsetr-19 {
    margin-left: -95%;
  }
  .container-fluid > .row > .col-m-offsetl-19 {
    margin-left: 95%;
  }
  .container-fluid > .row > .col-m-offsetr-19 {
    margin-left: -95%;
  }
  .container > .row > .col-m-push-19 {
    position: relative;
    right: 95%;
  }
  .container > .row > .col-m-pull-19 {
    position: relative;
    left: 95%;
  }
  .container-fluid > .row > .col-m-push-19 {
    position: relative;
    right: 95%;
  }
  .container-fluid > .row > .col-m-pull-19 {
    position: relative;
    left: 95%;
  }
  .container > .row > .col-m-20 {
    float: left;
    width: 100%;
  }
  .container-fluid > .row > .col-m-20 {
    float: left;
    width: 100%;
  }
  .container > .row > .col-m-offsetl-20 {
    margin-left: 100%;
  }
  .container > .row > .col-m-offsetr-20 {
    margin-left: -100%;
  }
  .container-fluid > .row > .col-m-offsetl-20 {
    margin-left: 100%;
  }
  .container-fluid > .row > .col-m-offsetr-20 {
    margin-left: -100%;
  }
  .container > .row > .col-m-push-20 {
    position: relative;
    right: 100%;
  }
  .container > .row > .col-m-pull-20 {
    position: relative;
    left: 100%;
  }
  .container-fluid > .row > .col-m-push-20 {
    position: relative;
    right: 100%;
  }
  .container-fluid > .row > .col-m-pull-20 {
    position: relative;
    left: 100%;
  }
  .container > .row > .col-s-hid {
    display: block;
  }
  .container-fluid > .row > .col-s-hid {
    display: block;
  }
  .container > .row > .col-m-hid {
    display: none;
  }
  .container-fluid > .row > .col-m-hid {
    display: none;
  }
}
@media screen and (min-width: 1000px) {
  .container {
    width: 1000px;
  }
  .container > .row > .col-l-1 {
    float: left;
    width: 5%;
  }
  .container-fluid > .row > .col-l-1 {
    float: left;
    width: 5%;
  }
  .container > .row > .col-l-offsetl-1 {
    margin-left: 5%;
  }
  .container > .row > .col-l-offsetr-1 {
    margin-left: -5%;
  }
  .container-fluid > .row > .col-l-offsetl-1 {
    margin-left: 5%;
  }
  .container-fluid > .row > .col-l-offsetr-1 {
    margin-left: -5%;
  }
  .container > .row > .col-l-push-1 {
    position: relative;
    right: 5%;
  }
  .container > .row > .col-l-pull-1 {
    position: relative;
    left: 5%;
  }
  .container-fluid > .row > .col-l-push-1 {
    position: relative;
    right: 5%;
  }
  .container-fluid > .row > .col-l-pull-1 {
    position: relative;
    left: 5%;
  }
  .container > .row > .col-l-2 {
    float: left;
    width: 10%;
  }
  .container-fluid > .row > .col-l-2 {
    float: left;
    width: 10%;
  }
  .container > .row > .col-l-offsetl-2 {
    margin-left: 10%;
  }
  .container > .row > .col-l-offsetr-2 {
    margin-left: -10%;
  }
  .container-fluid > .row > .col-l-offsetl-2 {
    margin-left: 10%;
  }
  .container-fluid > .row > .col-l-offsetr-2 {
    margin-left: -10%;
  }
  .container > .row > .col-l-push-2 {
    position: relative;
    right: 10%;
  }
  .container > .row > .col-l-pull-2 {
    position: relative;
    left: 10%;
  }
  .container-fluid > .row > .col-l-push-2 {
    position: relative;
    right: 10%;
  }
  .container-fluid > .row > .col-l-pull-2 {
    position: relative;
    left: 10%;
  }
  .container > .row > .col-l-3 {
    float: left;
    width: 15%;
  }
  .container-fluid > .row > .col-l-3 {
    float: left;
    width: 15%;
  }
  .container > .row > .col-l-offsetl-3 {
    margin-left: 15%;
  }
  .container > .row > .col-l-offsetr-3 {
    margin-left: -15%;
  }
  .container-fluid > .row > .col-l-offsetl-3 {
    margin-left: 15%;
  }
  .container-fluid > .row > .col-l-offsetr-3 {
    margin-left: -15%;
  }
  .container > .row > .col-l-push-3 {
    position: relative;
    right: 15%;
  }
  .container > .row > .col-l-pull-3 {
    position: relative;
    left: 15%;
  }
  .container-fluid > .row > .col-l-push-3 {
    position: relative;
    right: 15%;
  }
  .container-fluid > .row > .col-l-pull-3 {
    position: relative;
    left: 15%;
  }
  .container > .row > .col-l-4 {
    float: left;
    width: 20%;
  }
  .container-fluid > .row > .col-l-4 {
    float: left;
    width: 20%;
  }
  .container > .row > .col-l-offsetl-4 {
    margin-left: 20%;
  }
  .container > .row > .col-l-offsetr-4 {
    margin-left: -20%;
  }
  .container-fluid > .row > .col-l-offsetl-4 {
    margin-left: 20%;
  }
  .container-fluid > .row > .col-l-offsetr-4 {
    margin-left: -20%;
  }
  .container > .row > .col-l-push-4 {
    position: relative;
    right: 20%;
  }
  .container > .row > .col-l-pull-4 {
    position: relative;
    left: 20%;
  }
  .container-fluid > .row > .col-l-push-4 {
    position: relative;
    right: 20%;
  }
  .container-fluid > .row > .col-l-pull-4 {
    position: relative;
    left: 20%;
  }
  .container > .row > .col-l-5 {
    float: left;
    width: 25%;
  }
  .container-fluid > .row > .col-l-5 {
    float: left;
    width: 25%;
  }
  .container > .row > .col-l-offsetl-5 {
    margin-left: 25%;
  }
  .container > .row > .col-l-offsetr-5 {
    margin-left: -25%;
  }
  .container-fluid > .row > .col-l-offsetl-5 {
    margin-left: 25%;
  }
  .container-fluid > .row > .col-l-offsetr-5 {
    margin-left: -25%;
  }
  .container > .row > .col-l-push-5 {
    position: relative;
    right: 25%;
  }
  .container > .row > .col-l-pull-5 {
    position: relative;
    left: 25%;
  }
  .container-fluid > .row > .col-l-push-5 {
    position: relative;
    right: 25%;
  }
  .container-fluid > .row > .col-l-pull-5 {
    position: relative;
    left: 25%;
  }
  .container > .row > .col-l-6 {
    float: left;
    width: 30%;
  }
  .container-fluid > .row > .col-l-6 {
    float: left;
    width: 30%;
  }
  .container > .row > .col-l-offsetl-6 {
    margin-left: 30%;
  }
  .container > .row > .col-l-offsetr-6 {
    margin-left: -30%;
  }
  .container-fluid > .row > .col-l-offsetl-6 {
    margin-left: 30%;
  }
  .container-fluid > .row > .col-l-offsetr-6 {
    margin-left: -30%;
  }
  .container > .row > .col-l-push-6 {
    position: relative;
    right: 30%;
  }
  .container > .row > .col-l-pull-6 {
    position: relative;
    left: 30%;
  }
  .container-fluid > .row > .col-l-push-6 {
    position: relative;
    right: 30%;
  }
  .container-fluid > .row > .col-l-pull-6 {
    position: relative;
    left: 30%;
  }
  .container > .row > .col-l-7 {
    float: left;
    width: 35%;
  }
  .container-fluid > .row > .col-l-7 {
    float: left;
    width: 35%;
  }
  .container > .row > .col-l-offsetl-7 {
    margin-left: 35%;
  }
  .container > .row > .col-l-offsetr-7 {
    margin-left: -35%;
  }
  .container-fluid > .row > .col-l-offsetl-7 {
    margin-left: 35%;
  }
  .container-fluid > .row > .col-l-offsetr-7 {
    margin-left: -35%;
  }
  .container > .row > .col-l-push-7 {
    position: relative;
    right: 35%;
  }
  .container > .row > .col-l-pull-7 {
    position: relative;
    left: 35%;
  }
  .container-fluid > .row > .col-l-push-7 {
    position: relative;
    right: 35%;
  }
  .container-fluid > .row > .col-l-pull-7 {
    position: relative;
    left: 35%;
  }
  .container > .row > .col-l-8 {
    float: left;
    width: 40%;
  }
  .container-fluid > .row > .col-l-8 {
    float: left;
    width: 40%;
  }
  .container > .row > .col-l-offsetl-8 {
    margin-left: 40%;
  }
  .container > .row > .col-l-offsetr-8 {
    margin-left: -40%;
  }
  .container-fluid > .row > .col-l-offsetl-8 {
    margin-left: 40%;
  }
  .container-fluid > .row > .col-l-offsetr-8 {
    margin-left: -40%;
  }
  .container > .row > .col-l-push-8 {
    position: relative;
    right: 40%;
  }
  .container > .row > .col-l-pull-8 {
    position: relative;
    left: 40%;
  }
  .container-fluid > .row > .col-l-push-8 {
    position: relative;
    right: 40%;
  }
  .container-fluid > .row > .col-l-pull-8 {
    position: relative;
    left: 40%;
  }
  .container > .row > .col-l-9 {
    float: left;
    width: 45%;
  }
  .container-fluid > .row > .col-l-9 {
    float: left;
    width: 45%;
  }
  .container > .row > .col-l-offsetl-9 {
    margin-left: 45%;
  }
  .container > .row > .col-l-offsetr-9 {
    margin-left: -45%;
  }
  .container-fluid > .row > .col-l-offsetl-9 {
    margin-left: 45%;
  }
  .container-fluid > .row > .col-l-offsetr-9 {
    margin-left: -45%;
  }
  .container > .row > .col-l-push-9 {
    position: relative;
    right: 45%;
  }
  .container > .row > .col-l-pull-9 {
    position: relative;
    left: 45%;
  }
  .container-fluid > .row > .col-l-push-9 {
    position: relative;
    right: 45%;
  }
  .container-fluid > .row > .col-l-pull-9 {
    position: relative;
    left: 45%;
  }
  .container > .row > .col-l-10 {
    float: left;
    width: 50%;
  }
  .container-fluid > .row > .col-l-10 {
    float: left;
    width: 50%;
  }
  .container > .row > .col-l-offsetl-10 {
    margin-left: 50%;
  }
  .container > .row > .col-l-offsetr-10 {
    margin-left: -50%;
  }
  .container-fluid > .row > .col-l-offsetl-10 {
    margin-left: 50%;
  }
  .container-fluid > .row > .col-l-offsetr-10 {
    margin-left: -50%;
  }
  .container > .row > .col-l-push-10 {
    position: relative;
    right: 50%;
  }
  .container > .row > .col-l-pull-10 {
    position: relative;
    left: 50%;
  }
  .container-fluid > .row > .col-l-push-10 {
    position: relative;
    right: 50%;
  }
  .container-fluid > .row > .col-l-pull-10 {
    position: relative;
    left: 50%;
  }
  .container > .row > .col-l-11 {
    float: left;
    width: 55%;
  }
  .container-fluid > .row > .col-l-11 {
    float: left;
    width: 55%;
  }
  .container > .row > .col-l-offsetl-11 {
    margin-left: 55%;
  }
  .container > .row > .col-l-offsetr-11 {
    margin-left: -55%;
  }
  .container-fluid > .row > .col-l-offsetl-11 {
    margin-left: 55%;
  }
  .container-fluid > .row > .col-l-offsetr-11 {
    margin-left: -55%;
  }
  .container > .row > .col-l-push-11 {
    position: relative;
    right: 55%;
  }
  .container > .row > .col-l-pull-11 {
    position: relative;
    left: 55%;
  }
  .container-fluid > .row > .col-l-push-11 {
    position: relative;
    right: 55%;
  }
  .container-fluid > .row > .col-l-pull-11 {
    position: relative;
    left: 55%;
  }
  .container > .row > .col-l-12 {
    float: left;
    width: 60%;
  }
  .container-fluid > .row > .col-l-12 {
    float: left;
    width: 60%;
  }
  .container > .row > .col-l-offsetl-12 {
    margin-left: 60%;
  }
  .container > .row > .col-l-offsetr-12 {
    margin-left: -60%;
  }
  .container-fluid > .row > .col-l-offsetl-12 {
    margin-left: 60%;
  }
  .container-fluid > .row > .col-l-offsetr-12 {
    margin-left: -60%;
  }
  .container > .row > .col-l-push-12 {
    position: relative;
    right: 60%;
  }
  .container > .row > .col-l-pull-12 {
    position: relative;
    left: 60%;
  }
  .container-fluid > .row > .col-l-push-12 {
    position: relative;
    right: 60%;
  }
  .container-fluid > .row > .col-l-pull-12 {
    position: relative;
    left: 60%;
  }
  .container > .row > .col-l-13 {
    float: left;
    width: 65%;
  }
  .container-fluid > .row > .col-l-13 {
    float: left;
    width: 65%;
  }
  .container > .row > .col-l-offsetl-13 {
    margin-left: 65%;
  }
  .container > .row > .col-l-offsetr-13 {
    margin-left: -65%;
  }
  .container-fluid > .row > .col-l-offsetl-13 {
    margin-left: 65%;
  }
  .container-fluid > .row > .col-l-offsetr-13 {
    margin-left: -65%;
  }
  .container > .row > .col-l-push-13 {
    position: relative;
    right: 65%;
  }
  .container > .row > .col-l-pull-13 {
    position: relative;
    left: 65%;
  }
  .container-fluid > .row > .col-l-push-13 {
    position: relative;
    right: 65%;
  }
  .container-fluid > .row > .col-l-pull-13 {
    position: relative;
    left: 65%;
  }
  .container > .row > .col-l-14 {
    float: left;
    width: 70%;
  }
  .container-fluid > .row > .col-l-14 {
    float: left;
    width: 70%;
  }
  .container > .row > .col-l-offsetl-14 {
    margin-left: 70%;
  }
  .container > .row > .col-l-offsetr-14 {
    margin-left: -70%;
  }
  .container-fluid > .row > .col-l-offsetl-14 {
    margin-left: 70%;
  }
  .container-fluid > .row > .col-l-offsetr-14 {
    margin-left: -70%;
  }
  .container > .row > .col-l-push-14 {
    position: relative;
    right: 70%;
  }
  .container > .row > .col-l-pull-14 {
    position: relative;
    left: 70%;
  }
  .container-fluid > .row > .col-l-push-14 {
    position: relative;
    right: 70%;
  }
  .container-fluid > .row > .col-l-pull-14 {
    position: relative;
    left: 70%;
  }
  .container > .row > .col-l-15 {
    float: left;
    width: 75%;
  }
  .container-fluid > .row > .col-l-15 {
    float: left;
    width: 75%;
  }
  .container > .row > .col-l-offsetl-15 {
    margin-left: 75%;
  }
  .container > .row > .col-l-offsetr-15 {
    margin-left: -75%;
  }
  .container-fluid > .row > .col-l-offsetl-15 {
    margin-left: 75%;
  }
  .container-fluid > .row > .col-l-offsetr-15 {
    margin-left: -75%;
  }
  .container > .row > .col-l-push-15 {
    position: relative;
    right: 75%;
  }
  .container > .row > .col-l-pull-15 {
    position: relative;
    left: 75%;
  }
  .container-fluid > .row > .col-l-push-15 {
    position: relative;
    right: 75%;
  }
  .container-fluid > .row > .col-l-pull-15 {
    position: relative;
    left: 75%;
  }
  .container > .row > .col-l-16 {
    float: left;
    width: 80%;
  }
  .container-fluid > .row > .col-l-16 {
    float: left;
    width: 80%;
  }
  .container > .row > .col-l-offsetl-16 {
    margin-left: 80%;
  }
  .container > .row > .col-l-offsetr-16 {
    margin-left: -80%;
  }
  .container-fluid > .row > .col-l-offsetl-16 {
    margin-left: 80%;
  }
  .container-fluid > .row > .col-l-offsetr-16 {
    margin-left: -80%;
  }
  .container > .row > .col-l-push-16 {
    position: relative;
    right: 80%;
  }
  .container > .row > .col-l-pull-16 {
    position: relative;
    left: 80%;
  }
  .container-fluid > .row > .col-l-push-16 {
    position: relative;
    right: 80%;
  }
  .container-fluid > .row > .col-l-pull-16 {
    position: relative;
    left: 80%;
  }
  .container > .row > .col-l-17 {
    float: left;
    width: 85%;
  }
  .container-fluid > .row > .col-l-17 {
    float: left;
    width: 85%;
  }
  .container > .row > .col-l-offsetl-17 {
    margin-left: 85%;
  }
  .container > .row > .col-l-offsetr-17 {
    margin-left: -85%;
  }
  .container-fluid > .row > .col-l-offsetl-17 {
    margin-left: 85%;
  }
  .container-fluid > .row > .col-l-offsetr-17 {
    margin-left: -85%;
  }
  .container > .row > .col-l-push-17 {
    position: relative;
    right: 85%;
  }
  .container > .row > .col-l-pull-17 {
    position: relative;
    left: 85%;
  }
  .container-fluid > .row > .col-l-push-17 {
    position: relative;
    right: 85%;
  }
  .container-fluid > .row > .col-l-pull-17 {
    position: relative;
    left: 85%;
  }
  .container > .row > .col-l-18 {
    float: left;
    width: 90%;
  }
  .container-fluid > .row > .col-l-18 {
    float: left;
    width: 90%;
  }
  .container > .row > .col-l-offsetl-18 {
    margin-left: 90%;
  }
  .container > .row > .col-l-offsetr-18 {
    margin-left: -90%;
  }
  .container-fluid > .row > .col-l-offsetl-18 {
    margin-left: 90%;
  }
  .container-fluid > .row > .col-l-offsetr-18 {
    margin-left: -90%;
  }
  .container > .row > .col-l-push-18 {
    position: relative;
    right: 90%;
  }
  .container > .row > .col-l-pull-18 {
    position: relative;
    left: 90%;
  }
  .container-fluid > .row > .col-l-push-18 {
    position: relative;
    right: 90%;
  }
  .container-fluid > .row > .col-l-pull-18 {
    position: relative;
    left: 90%;
  }
  .container > .row > .col-l-19 {
    float: left;
    width: 95%;
  }
  .container-fluid > .row > .col-l-19 {
    float: left;
    width: 95%;
  }
  .container > .row > .col-l-offsetl-19 {
    margin-left: 95%;
  }
  .container > .row > .col-l-offsetr-19 {
    margin-left: -95%;
  }
  .container-fluid > .row > .col-l-offsetl-19 {
    margin-left: 95%;
  }
  .container-fluid > .row > .col-l-offsetr-19 {
    margin-left: -95%;
  }
  .container > .row > .col-l-push-19 {
    position: relative;
    right: 95%;
  }
  .container > .row > .col-l-pull-19 {
    position: relative;
    left: 95%;
  }
  .container-fluid > .row > .col-l-push-19 {
    position: relative;
    right: 95%;
  }
  .container-fluid > .row > .col-l-pull-19 {
    position: relative;
    left: 95%;
  }
  .container > .row > .col-l-20 {
    float: left;
    width: 100%;
  }
  .container-fluid > .row > .col-l-20 {
    float: left;
    width: 100%;
  }
  .container > .row > .col-l-offsetl-20 {
    margin-left: 100%;
  }
  .container > .row > .col-l-offsetr-20 {
    margin-left: -100%;
  }
  .container-fluid > .row > .col-l-offsetl-20 {
    margin-left: 100%;
  }
  .container-fluid > .row > .col-l-offsetr-20 {
    margin-left: -100%;
  }
  .container > .row > .col-l-push-20 {
    position: relative;
    right: 100%;
  }
  .container > .row > .col-l-pull-20 {
    position: relative;
    left: 100%;
  }
  .container-fluid > .row > .col-l-push-20 {
    position: relative;
    right: 100%;
  }
  .container-fluid > .row > .col-l-pull-20 {
    position: relative;
    left: 100%;
  }
  .container > .row > .col-s-hid {
    display: block;
  }
  .container-fluid > .row > .col-s-hid {
    display: block;
  }
  .container > .row > .col-m-hid {
    display: block;
  }
  .container-fluid > .row > .col-m-hid {
    display: block;
  }
  .container > .row > .col-l-hid {
    display: none;
  }
  .container-fluid > .row > .col-l-hid {
    display: none;
  }
}
